.movie-form {
	border: 1px solid #666;
	padding: 8px;
	background-color: #aaa;
}

.movie-form-element {
	border: 1px solid #666;
	padding: 5px;
	background-color: #fff;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 8px;
}

.movie-form-element label {
	color: black;
	font-size: 14px;
}

.movie-form-element input {
	color: black;
	font-size: 12pt;
	margin: 2px;
}

.movie-form-element select {
	color: black;
	font-size: 12pt;
	margin: 2px;
}